.leftMenuContainer{
    top:0;
    left:0;
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    height: 100%;
    background-color: black;
}

img{
    width: 50%;
    height: 50%;
}

.leftMenuContainer__leftUpCorner{
    transform: rotate(-90deg);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:black;
    background-color: rgb(16, 16, 16);
    border-radius: 0% 0% 0% 30%;
}

.leftMenuContainer__middleUp{
    transform: rotate(-90deg);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:black;
    background-color: rgb(16, 16, 16);
    border-radius: 30% 0% 0% 30%;
}

.leftMenuContainer__righttUpCorner{
    transform: rotate(-90deg);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:black;
    background-color: rgb(16, 16, 16);
    border-radius: 30% 0% 0% 00%;
}

.leftMenuContainer__leftCenter{
    transform: rotate(-90deg);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:white;
    background-color: rgb(16, 16, 16);
    border-radius: 0% 0% 30% 30%;
}

.leftMenuContainer__middleCenter{
    transform: rotate(-90deg);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 3.5vh;
    color:white;
    background-color: rgb(16, 16, 16);
    border-radius: 30% 30% 30% 30%;
}

.leftMenuContainer__rightCenter{
    transform: rotate(-90deg);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:white;
    background-color: rgb(16, 16, 16);
    border-radius: 30% 30% 0% 0%;
}

.leftMenuContainer__leftdownCorner{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:white;
    border-radius: 0% 30% 0% 0%;
}

.leftMenuContainer__centerDownCorner{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:white;
    border-radius: 30% 30% 0% 0%;
}

.leftMenuContainer__rightDownCorner{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    font-size: 2vh;
    color:white;
    border-radius: 30% 0% 0% 0%;
}

.leftMenuContainer__RedHover{
    background-color: red;
    box-shadow: 0px 0px 5vh red;
    color:white;
    text-shadow: 0px 0px 1vh white;
    transition: 0.2s ease-in-out;
}.leftMenuContainer__RedNotHover{
    background-color:rgb(13, 13, 13);
    color:black;
    transition: 0.4s ease-in-out;
}.leftMenuContainer__RedGameMode{
    background-color: red;
    box-shadow: 0px 0px 5vh red;
    color:white;
    text-shadow: 0px 0px 1vh white;
}

.leftMenuContainer__BlueHover{
    background-color: blue;
    box-shadow: 0px 0px 5vh blue;
    color:white;
    text-shadow: 0px 0px 1vh white;
    transition: 0.2s ease-in-out;
}.leftMenuContainer__BlueNotHover{
    background-color:rgb(13, 13, 13);
    color:black;
    transition: 0.4s ease-in-out;
}.leftMenuContainer__BlueGameMode{
    background-color: blue;
    box-shadow: 0px 0px 5vh blue;
    color:white;
    text-shadow: 0px 0px 1vh white;
}

.leftMenuContainer__GreenHover{
    background-color: Green;
    box-shadow: 0px 0px 5vh Green;
    color:white;
    text-shadow: 0px 0px 1vh white;
    transition: 0.2s ease-in-out;
}.leftMenuContainer__GreenNotHover{
    background-color:rgb(13, 13, 13);
    color:black;
    transition: 0.4s ease-in-out;
}.leftMenuContainer__GreenGameMode{
    background-color: Green;
    box-shadow: 0px 0px 5vh Green;
    color:white;
    text-shadow: 0px 0px 1vh white;
}

.leftMenu_pointerEventsNone{
    pointer-events: none;
}

.whiteLoad_LeftMenu{
    animation-name: whiteLoadLeftAnim;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
}

@keyframes whiteLoadLeftAnim {
    0% {

    }

    90%,100% {
        background-color:rgb(13, 13, 13);
        box-shadow: 0px 0px 0px;
        color:rgb(13, 13, 13);
        text-shadow: 0px 0px 0px;
      }
  }