.backWallContainer{
    /* lime */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.backWallContainer__leftUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 0%;
    transition: 0.4s;
    color:transparent;
}
.backWallContainer__middleUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 30%;
    transition: 0.4s;
    color:transparent;
}
.backWallContainer__rightUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 0% 30%;
    transition: 0.4s;
    color:transparent;
}



.backWallContainer__leftCenterCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 30% 0%;
    transition: 0.4s;
    color:transparent;
}
.backWallContainer__middleCenterUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 30% 30%;
    transition: 0.4s;
    color:transparent;
}
.backWallContainer__rightCenterorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 30%;
    transition: 0.4s;
    color:transparent;
}



.backWallContainer__leftDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 0% 0%;
    transition: 0.4s;
    color:transparent;
}
.backWallContainer__middleDown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 0% 0%;
    transition: 0.4s;
    color:transparent;
}
.backWallContainer__rightDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 0%;
    transition: 0.4s;
    color:transparent;
}

.red_O_back{
    background-color: red;
    box-shadow: 0 0 5vh red;
    color:white;
    text-shadow: 0 0 1vh white;
}
.redHover_back{
    background-color: red;
    box-shadow: 0 0 5vh red;
    transition: 0.2s ease-in-out;
}.redNotHover_back{
    background-color: rgb(36, 36, 36);
    transition: 1s ease-in-out;
}

.blue_X_back{
    background-color: blue;
    box-shadow: 0 0 5vh blue;
    color:white;
    text-shadow: 0 0 1vh white;
}
.blueHover_back{
    background-color: blue;
    box-shadow: 0 0 5vh blue;
    transition: 0.2s ease-in-out;
}
.blueNotHover_back{
    background-color: rgb(36, 36, 36);
    transition: 1s ease-in-out;
}

.clickNone_back{
    pointer-events: none;
}


