.backWallContainer{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:0.5vh;
    width: 16vh;
    height: 16vh;
    background-color: black
}

.backWallContainer__leftUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}
.backWallContainer__middleUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}
.backWallContainer__rightUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}



.backWallContainer__leftCenterCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}
.backWallContainer__middleCenterUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}
.backWallContainer__rightCenterorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}



.backWallContainer__leftDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}
.backWallContainer__middleDown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}
.backWallContainer__rightDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: rgb(36, 36, 36);
}

.red_O{
    background-color: red;
}
.redHover:hover{
    background-color: red;
    transition: 0.2s ease-in-out;
}.redHover:not(:hover){
    transition: 1s ease-in-out;
}

.blue_X{
    background-color: blue;
}
.blueHover:hover{
    background-color: blue;
    transition: 0.2s ease-in;
}
.blueHover:not(:hover){
    transition: 1s ease-in-out;
}

