.bottomWallContainer{
    /* pink */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    height: 100%;
    background-color: black
}

.bottomWallContainer__leftUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 0%;
    background-color: rgb(36, 36, 36);
}
.bottomWallContainer__middleUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 30%;
    background-color: rgb(36, 36, 36);
}
.bottomWallContainer__rightUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 0% 30%;
    background-color: rgb(36, 36, 36);
}



.bottomWallContainer__leftCenterCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 30% 0%;
    background-color: rgb(36, 36, 36);
}
.bottomWallContainer__middleCenterUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 30% 30%;
    background-color: rgb(36, 36, 36);
}
.bottomWallContainer__rightCenterorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 30%;
    background-color: rgb(36, 36, 36);
}



.bottomWallContainer__leftDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 0% 0%;
    background-color: rgb(36, 36, 36);
}
.bottomWallContainer__middleDown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 0% 0%;
    background-color: rgb(36, 36, 36);
}
.bottomWallContainer__rightDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 0%;
    background-color: rgb(36, 36, 36);
}

.red_O{
    background-color: red;
    box-shadow: 0px 0px 24px 0px red;
}
.redHover:hover{
    background-color: red;
    box-shadow: 0px 0px 24px 0px red;
    transition: 0.2s ease-in-out;
}.redHover:not(:hover){
    transition: 1s ease-in-out;
}

.blue_X{
    background-color: blue;
    box-shadow: 0px 0px 24px 0px blue;
}
.blueHover:hover{
    background-color: blue;
    box-shadow: 0px 0px 24px 0px blue;
    transition: 0.2s ease-in;
}
.blueHover:not(:hover){
    transition: 1s ease-in-out;
}
