.frontWallContainer{
    /* purple */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.frontWallContainer__leftUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 0%;
    transition: 0.4s;
    color:transparent;
}
.frontWallContainer__middleUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 30%;
    transition: 0.4s;
    color:transparent;
}
.frontWallContainer__rightUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 0% 30%;
    transition: 0.4s;
    color:transparent;
}



.frontWallContainer__leftCenterCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 30% 0%;
    transition: 0.4s;
    color:transparent;
}
.frontWallContainer__middleCenterUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 30% 30%;
    transition: 0.4s;
    color:transparent;
}
.frontWallContainer__rightCenterorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 30%;
    transition: 0.4s;
    color:transparent;
}



.frontWallContainer__leftDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 0% 0%;
    transition: 0.4s;
    color:transparent;
}
.frontWallContainer__middleDown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 0% 0%;
    transition: 0.4s;
    color:transparent;
}
.frontWallContainer__rightDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 0%;
    transition: 0.4s;
    color:transparent;
}

.red_O_front{
    background-color: red;
    box-shadow: 0 0 5vh red;
    color:white;
    text-shadow: 0 0 1vh white;
}
.redHover_front{
    background-color: red;
    box-shadow: 0 0 5vh red;
    transition: 0.2s ease-in-out;
}.redNotHover_front{
    background-color: rgb(16, 16, 16);
    transition: 1s ease-in-out;
}
.red_O_front_win{
    filter: contrast(300%);
    background-color: color-mix(in srgb, orange, magenta);
    box-shadow: 0 0 15vh color-mix(in srgb, orange, magenta);
}

.blue_X_front{
    background-color: blue;
    box-shadow: 0 0 5vh blue;
    color:white;
    text-shadow: 0 0 1vh white;
}
.blueHover_front{
    background-color: blue;
    box-shadow: 0 0 5vh blue;
    transition: 0.2s ease-in-out;
}
.blueNotHover_front{
    background-color: rgb(16, 16, 16);
    transition: 1s ease-in-out;
}
.blue_X_front_win{
    filter: contrast(300%);
    background-color: color-mix(in srgb, cyan, purple);
    box-shadow: 0 0 15vh color-mix(in srgb, cyan, purple);
}

.clickNone_front{
    pointer-events: none;
}
