.cubeContainer{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width:90vw;
    height: 90vh;
    background-color: rgb(13, 13, 13);
}
@media only screen and (min-aspect-ratio: 1/1) {
.counterContainer{
  position:absolute;
  bottom:0;
  color:white;
  font-size: 5vh;
    display:flex;
    flex-direction:row;
    gap:15vh;
}}

@media only screen and (max-aspect-ratio: 1/1) {
  .counterContainer{
    position:absolute;
    bottom:0;
    color:white;
    font-size: 5vw;
      display:flex;
      flex-direction:row;
      gap:15vw;
  }}

@media only screen and (min-aspect-ratio: 1/1) {
.cube{
  font-size: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  width:42vh;
  height: 42vh;
  transform-style: preserve-3d;
  transform:rotate3d(0, 0, 0, 0deg);
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube{
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width:42vw;
    height: 42vw;
    transform-style: preserve-3d;
    transform:rotate3d(0, 0, 0, 0deg);
  }}
  

@media only screen and (min-aspect-ratio: 1/1) {
.cube_front{
  /* purple */
  transform: translateZ(20vh);
  position:absolute;
  width:40.1vh;
  height: 40.1vh;
  opacity:1;
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube_front{
    /* purple */
    transform: translateZ(20vw);
    position:absolute;
    width:40.1vw;
    height: 40.1vw;
    opacity:1;
  }}

  @media only screen and (min-aspect-ratio: 1/1) {
.cube_right{
  /* yellow */
  transform-origin: center center;
  transform: rotateY(90deg) rotateZ(90deg) translateZ(20vh);;
  position:absolute;
  width:40.1vh;
  height: 40.1vh;
  opacity:1;
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube_right{
    /* yellow */
    transform-origin: center center;
    transform: rotateY(90deg) rotateZ(90deg) translateZ(20vw);;
    position:absolute;
    width:40.1vw;
    height: 40.1vw;
    opacity:1;
  }}

  @media only screen and (min-aspect-ratio: 1/1) {
.cube_back{
  /* lime */
  transform-origin: center center;
  transform: rotateX(180deg) translateZ(20vh);
  position:absolute;
  width:40.1vh;
  height: 40.1vh;
  opacity:1;
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube_back{
    /* lime */
    transform-origin: center center;
    transform: rotateX(180deg) translateZ(20vw);
    position:absolute;
    width:40.1vw;
    height: 40.1vw;
    opacity:1;
  }}

  @media only screen and (min-aspect-ratio: 1/1) {
.cube_left{
  /* green */
  transform-origin: center center;
  transform: rotateY(-90deg) rotateZ(-90deg) translateZ(20vh);;
  position:absolute;
  width:40.1vh;
  height: 40.1vh;
  opacity:1;
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube_left{
    /* green */
    transform-origin: center center;
    transform: rotateY(-90deg) rotateZ(-90deg) translateZ(20vw);;
    position:absolute;
    width:40.1vw;
    height: 40.1vw;
    opacity:1;
  }}

  @media only screen and (min-aspect-ratio: 1/1) {
.cube_upper{
  /* skyblue */
  transform-origin: center center;
  transform: rotateX(90deg) translateZ(20vh);;
  position:absolute;
  width:40.1vh;
  height: 40.1vh;
  opacity:1;
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube_upper{
    /* skyblue */
    transform-origin: center center;
    transform: rotateX(90deg) translateZ(20vw);;
    position:absolute;
    width:40.1vw;
    height: 40.1vw;
    opacity:1;
  }}

  @media only screen and (min-aspect-ratio: 1/1) {
.cube_bottom{
  /* pink */
  transform-origin: center center;
  transform: rotateX(-90deg) translateZ(20vh);
  position:absolute;
  width:40.1vh;
  height: 40.1vh;
  opacity:1;
}}
@media only screen and (max-aspect-ratio: 1/1) {
  .cube_bottom{
    /* pink */
    transform-origin: center center;
    transform: rotateX(-90deg) translateZ(20vw);
    position:absolute;
    width:40.1vw;
    height: 40.1vw;
    opacity:1;
  }}