.rightWallContainer{
    /* yellow */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.rightWallContainer__leftUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 0%;
    background-color: rgb(36, 36, 36);
}
.rightWallContainer__middleUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 30%;
    background-color: rgb(36, 36, 36);
}
.rightWallContainer__rightUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 0% 30%;
    background-color: rgb(36, 36, 36);
}



.rightWallContainer__leftCenterCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 30% 0%;
    background-color: rgb(36, 36, 36);
}
.rightWallContainer__middleCenterUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 30% 30%;
    background-color: rgb(36, 36, 36);
}
.rightWallContainer__rightCenterorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 30%;
    background-color: rgb(36, 36, 36);
}



.rightWallContainer__leftDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 0% 0%;
    background-color: rgb(36, 36, 36);
}
.rightWallContainer__middleDown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 0% 0%;
    background-color: rgb(36, 36, 36);
}
.rightWallContainer__rightDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 0%;
    background-color: rgb(36, 36, 36);
}

.red_O{
    background-color: red;
}
.redHover:hover{
    background-color: red;
    transition: 0.2s ease-in-out;
}.redHover:not(:hover){
    transition: 1s ease-in-out;
}

.blue_X{
    background-color: blue;
}
.blueHover:hover{
    background-color: blue;
    transition: 0.2s ease-in;
}
.blueHover:not(:hover){
    transition: 1s ease-in-out;
}
