.rightWallContainer{
    /* yellow */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.rightWallContainer__leftUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 0%;

}
.rightWallContainer__middleUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 30% 30%;

}
.rightWallContainer__rightUpCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 0% 0% 30%;

}



.rightWallContainer__leftCenterCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 30% 0%;

}
.rightWallContainer__middleCenterUp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 30% 30%;

}
.rightWallContainer__rightCenterorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 30%;

}



.rightWallContainer__leftDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 0% 30% 0% 0%;

}
.rightWallContainer__middleDown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 30% 0% 0%;

}
.rightWallContainer__rightDownCorner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 30% 0% 0% 0%;

}

.red_O_right{
    background-color: red;
    box-shadow: 0 0 5vh red;
    color:white;
    text-shadow: 0 0 1vh white;
}
.redHover_right{
    background-color: red;
    box-shadow: 0 0 5vh red;
    transition: 0.2s ease-in-out;
}.redNotHover_right{
    background-color:rgb(33, 33, 33);
    transition: 1s ease-in-out;
}

.blue_X_right{
    background-color: blue;
    box-shadow: 0 0 5vh blue;
    color:white;
    text-shadow: 0 0 1vh white;
}
.blueHover_right{
    background-color: blue;
    box-shadow: 0 0 5vh blue;
    transition: 0.2s ease-in-out;
}
.blueNotHover_right{
    background-color:rgb(33, 33, 33);
    transition: 1s ease-in-out;
}

.clickNone_right{
    pointer-events: none;
}

